*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.header{
    display: flex;
    
    justify-content: center;
    background-color: #1F2937;
    margin-top: 0;
    align-items: center;
    
}
a{
    text-decoration: none;
    padding-right: 30px;
    color: #E5E7EB;
    font-size: 18px;
}
.topright{
    display: flex;
    justify-content: space-between;
    padding-left: 750px;
    font-size: 18px;

}
.logo{
    padding-left: 20px;
    height:60px;
    
}
.under{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 400px;
    align-items: center;
    gap: 50px;
}
.title{
    padding-left: 100px;
    width: 700px;
    color: #E5E7EB;
  
}

.title h4{
    padding-top: 20px;
    font-size: 24px;
    
}
button{
    font-size: 20px;
    width: 150px;
    height: 40px;
    color: #E5E7EB;
    background-color:#2882f6;
    border-radius: 8px;
    
    margin-top: 10px;
}
.title h1{
    font-size: 48px;
    font-weight: bold;
}
.titleimg{
    height:300px;
   
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    
}
.images{
    display: flex;
    height: 400px;
    align-items: center;
}
.img1,.img2,.img3,.img4 {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-right: 25px;
    font-size: 18px;
    color: #E5E7EB;

   
}
.mid h1{
    padding-top: 20px;
}
.quote{
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote h4{
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}
.quote h6{
    font-size: 30px;
    font-weight: bold;
    padding-left: 300px;
}
.callto{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #2882f6;
    width: 700px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.inside button{
    
    border-color: white;

}
.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.texts{
    color: #E5E7EB;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 80px;
    color: #E5E7EB;
}